{% if site.mode == "production" %}
  <script>
    ARGUMENTA_CONFIG = {
      baseUrl:    'https://argumenta.io',
      widgetsUrl: 'https://argumenta.io/widgets'
    };
  </script>
  <script src="https://argumenta.io/widgets.js"></script>
{% elsif site.mode == "development" %}
  <script>
    ARGUMENTA_CONFIG = {
      baseUrl:    'https://argumenta.io',
      widgetsUrl: 'http://localhost:4000/widgets'
    };
  </script>
  <script src="http://localhost:4000/widgets.js"></script>
  <script>
    requirejs.config({
      config: {
        text: {
          useXhr: function (url, protocol, hostname, port) {
            // Override function for determining if XHR should be used.
            // Use protocol, hostname, and port to compare against the url being requested.
            // Return true or false. true means "use xhr", false means
            // "fetch the .js version of this resource".
            return true;
          }
        }
      }
    });
  </script>
{% endif %}
