
.pagination {
  margin: 10px auto;
  padding: 2px;
  border: 3px solid #2ef;
  border-radius: 10px;
  font-size: 16px;
  font-family: "Monda", sans-serif;
  text-align: center;
  background: #fff;
  color: #aaa;
}

.pagination a {
  text-decoration: none;
  color: #333;
}

.pagination > * {
  margin: 3px 3px;
}
