<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Argumenta Blog</title>
  <link href="/assets/css/main.css" rel="stylesheet" type="text/css">
</head>
<body class="radial-gradient">
  <div class="logo-container">
    <div class="argumenta-logo">
      <div class="initial-container">
        <div class="first-initial">A</div>
      </div>
      <div class="tag support"></div>
      <div class="tag dispute"></div>
      <div class="tag citation"></div>
    </div>
  </div>
  <div class="content">
    {{content}}
  </div>
</body>
</html>
